{% load static %}

<nav class="bg-white w-full">
   <div class="container mx-auto flex gap-8 py-4 px-2">
      <figure>
         <img alt="" role="presentation" aria-hidden="true" src="{% static 'assets/logo-sm.webp' %}"
            class=" h-8 object-contain">
      </figure>
      <menu class="grid grid-flow-col w-full gap-4 justify-between content-center">
         <div class="gap-4 hidden md:flex">
            <a href="/" class="uppercase font-medium grid content-center hover:text-grey-600 transition-colors">home</a>
            <a href="{% url 'shop:product-list' %}"
               class="uppercase font-medium grid content-center hover:text-grey-600 transition-colors">shop</a>
            <a href="{% url 'contacts:contact-page' %}" class="uppercase font-medium grid content-center hover:text-grey-600 transition-colors">contact us</a>
         </div>
         <div class="flex gap-4 text-xl">
            <button title="Toggle menu" href="#" class="md:hidden"><i class="fas fa-bars text-xl "></i></button>
            <a title="Search" href="{% url 'products:product-search' %}">
               <i class="fas fa-magnifying-glass"></i>
            </a>
            <a title="cart" href="#">
               <i class="fas fa-cart-shopping"></i>
            </a>
         </div>
      </menu>
   </div>
</nav>
   